<div class="footer col-sm-12">
  <div class="d-flex col-sm-10 py-5 mx-auto">
    <div class="sec1 col-sm-5">
        <h2>About us</h2>
        <p> Retail Banking was founded by Hamza's Minions on 1st January 2022</p>
        <p> with the objective of learning and experiencing</p>
        <p>development of banking application software</p>
    </div>
    <div class="sec2 col-sm-4"><h2>Services</h2>
      <p>Retail and consumer Banking</p>
      <p>Personal Internet Banking</p>
      <p>Debit and Credit Cards</p>
    </div>
    <div class="sec3 col-sm-3">
      <h2>Contact Us</h2>
      <p>Email: hamzasminions@notrealdomain.com</p>
      <p>Contact no:123456789</p>
      <p>Address: Hamza Minion's Headquarters, Minion City</p>
    </div>
  </div>
</div>